:root {
    /* OneDark theme */
    --black:  #282c34;
    --red:    #e06c75;
    --green:  #98c379;
    --yellow: #e5c07b;
    --blue:   #61afef;
    --purple: #c678dd;
    --cyan:   #56b6c2;
    --grey:   #abb2bf;
    --white:  #ffffff;
}

body {
    margin: 0;
    font-size: 16px;
    color: var(--white);
    background-color: var(--black);
    font-family: "Fira Code", sans-serif;
}
